{% extends "base.html" %}
	{%import "bootstrap/wtf.html" as wtf%}
	{% block content %}


	<div id="fh5co-content" class="fh5co-no-pd-top">
		<div class="container">

			<div class="row animate-box">
				<div class="col-md-12 col-md-offset-0 text-center fh5co-heading">
					<h2><span>Nowy post</span></h2>
				</div>
			</div>

			<div class="row">


				<div class="col-md-9 col-padded-right">
					<div class="row">

						<div class="container">
							<form class="form-group row" method="POST" action="" enctype="multipart/form-data">
								{{ form.hidden_tag() }}

								<div class="col-xs-9">
									{{wtf.form_field(form.title, class="form-control")}}
								</div>
								<div class="col-xs-9">
									{{wtf.form_field(form.category, class="form-control",rows="20")}}
								</div>
								<div class="col-xs-9">
									{{wtf.form_field(form.text, class="form-control")}}
								</div>
								<div class="col-xs-9" style="float: left; width: 300px">
									{{wtf.form_field(form.picture, class="form-control-file")}}
								</div>

								<div class="col-xs-9" style="float: right; width: 420px">
									{{ form.submit(class="btn btn-outline-info",style="height:50px;width:100px") }}
								</div>


							</form>
							{{ ckeditor.load() }}
							{{ ckeditor.config(name='text') }}
						</div>


					</div>
				</div>


				<div class="col-md-3">
					<div class="side animate-box">
						<div class="col-md-12 col-md-offset-0 text-center fh5co-heading fh5co-heading-sidebar">
							<h2><span>O Mnie</span></h2>
						</div>
						<div class="fh5co-staff">
							<img src="/static/profile_pics/Maria.jpg" alt="CEO pictrure">
							<h3>Maria Mucha</h3>
							<strong class="role">Założyciel bloga</strong>
							<p>Mam na imię Maria i jestem studentką Technologii
								Chemicznej na PW. Moją największą pasją jest wspinaczka i od jakiegoś czasu wszystko co
								jest związane z pszczołami, stąd pomysł na stworzenie tego bloga. :)</p>
						</div>
					</div>
				</div>


			</div>
		</div>
	</div>


	{% endblock content %}
