<!DOCTYPE html>
	<html>
	<head>

		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<!-- Theme style  -->
		<link rel="stylesheet" href="/static/css/style.css">


		<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Dancing+Script&family=Sacramento&display=swap"
			  rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
				integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
				crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
				integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
				crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
				integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
				crossorigin="anonymous"></script>
		<meta charset="utf-8">
		<script type="text/javascript" src="/static/js/ckeditor/ckeditor.js"></script>
		<style>

		</style>
	</head>
	<body>


	<nav class="fh5co-nav" role="navigation">
		<div class="container-fluid">
			<div class="row">
				<div class="top-menu">
					<div class="container">
						<div class="row">
							<div class="col-sm-7 text-left menu-1">
								<ul>
									<li class="active"><a href="{{ url_for('core.index') }}">Strona główna</a></li>
									<li><a href="{{ url_for('core.info') }}">O mnie</a></li>
									{% if current_user.is_authenticated %}
									<li><a href="{{ url_for('users.logout') }}">Wyloguj się</a></li>
									<li><a href="{{ url_for('users.account') }}">Konto</a></li>
									{% if current_user.has_role('admin') %}
									<li><a href="{{ url_for('blog_posts.create_post') }}">Utwórz post</a></li>
									{% endif %}
									{% else %}
									<li><a href="{{ url_for('users.login') }}">Zaloguj się</a></li>
									<li><a href="{{ url_for('users.register') }}">Rejestracja</a></li>
									{% endif %}

								</ul>
							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center menu-2">
					<div id="fh5co-logo">
						<a href="{{ url_for('core.index') }}">
							<img id="logo" src="static/logo.png">
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>


	<div class="container">
		{% block content %}

		{% endblock %}
	</div>


	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<p>


			</p>

			<div class="row row-pb-md">
				<div class="col-md-4 fh5co-widget">
					<h4>Paper</h4>
					<p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta
						adipisci architecto culpa amet.</p>
				</div>
				<div class="col-md-4 col-md-push-1">
					<h4>Links</h4>
					<ul class="fh5co-footer-links">
						<li><a href="#">Home</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Lifestyle</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</div>

				<div class="col-md-4 col-md-push-1">
					<h4>Kontakt</h4>
					<ul class="fh5co-footer-links">
						<li>your adres, <br> your adres</li>
						<li><a href="tel://">+ your number</a></li>
						<li><a href="mailto:info@yoursite.com">info@yoursite.com</a></li>
						<li><a href="">Web site</a></li>
					</ul>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a>
							Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
						<small class="block">Changed by <a href="https://github.com/markoseb"
														   target="_blank">Markoseb</a> </small>
					</p>

				</div>
			</div>

		</div>
	</footer>

	</body>
	</html>

