<!--<editor-fold desc="Description">-->
<!DOCTYPE html>
	<html>
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Bee Bloge - roztanczonwa pszczolka</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Personal blog about bees, creams and cosmetics" />
		<meta name="language" content="Polish" />
		<meta name="keywords" content="Blog , creams, cosmetics, bees, personal blog, students, chemistry, kombucha, krem galonowy, krem,kosmetyki
		, student, chemia, pszczoły " />
		<meta name="author" content="https://github.com/markoseb" />

		<link rel="stylesheet" href="/static/css/icomoon.css">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<!-- Theme style  -->
		<link rel="stylesheet" href="/static/css/style.css">

		<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&family=Dancing+Script&family=Sacramento&display=swap"
			  rel="stylesheet">


		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
				integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
				crossorigin="anonymous"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
				integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
				crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
				integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
				crossorigin="anonymous"></script>
		<script type="text/javascript" src="/static/js/ckeditor/ckeditor.js"></script>

	</head>
	<body>


	<nav class="fh5co-nav" role="navigation">
		<div class="container-fluid">
			<div class="row">
				<div class="top-menu">
					<div class="container">
						<div class="row">
							<div class="col-sm-7 text-left menu-1" >
								<ul>
									<li class="active"><a href="{{ url_for('core.index') }}">Strona główna</a></li>
									<li><a href="{{ url_for('core.info') }}">O mnie</a></li>
									{% if current_user.is_authenticated %}
									<li><a href="{{ url_for('users.logout') }}">Wyloguj się</a></li>
									<li><a href="{{ url_for('users.account') }}">Konto</a></li>
									{% if current_user.has_role('admin') %}
									<li><a href="{{ url_for('blog_posts.create_post') }}">Utwórz post</a></li>
									{% endif %}
									{% else %}
									<li><a href="{{ url_for('users.login') }}">Zaloguj się</a></li>
									<li><a href="{{ url_for('users.register') }}">Rejestracja</a></li>
									{% endif %}

										<div class="fh5co-social-icons">
											<li><a href="https://www.facebook.com/maria.wiedenska5"><i class="icon-facebook-with-circle"></i></a></li>
											<li><a href="https://www.instagram.com/maria_muszka/"><i class="icon-instagram-with-circle"></i></a></li>
										</div>


								</ul>
							</div>
							<div class="col-sm-5">

							</div>

						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center menu-2">
					<div id="fh5co-logo">
						<a href="{{ url_for('core.index') }}">
							<img id="logo" src="static/logo.png">
						</a>
					</div>
				</div>
			</div>
		</div>
	</nav>


	<div class="container">
		{% block content %}

		{% endblock %}
	</div>


	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<p>


			</p>

			<div class="row row-pb-md">

				<div class="col-md-4 col-md-push-1">

					<ul class="fh5co-footer-links">
						<li><h4>Links</h4></li>
						<li><a href="{{ url_for('core.index') }}">Strona Główna</a></li>
						<li><a href="{{ url_for('core.info') }}">O mnie</a></li>
						<li><a href="{{ url_for('users.account') }}">Konto</a></li>

					</ul>
				</div>

				<div class="col-md-4 col-md-push-1">

					<ul class="fh5co-footer-links">
						<li><h4>Kontakt</h4></li>
						<li><a href="tel://">+48 691 365 852</a></li>
						<li><a href="mailto:info@yoursite.com">http://roztanczonapszczolka.pl/</a></li>
						<li><a href="">Web site</a></li>
					</ul>
				</div>
				<div class="col-md-4 col-md-push-1">
					<div class="fh5co-social-icons icons-footer" style="text-align:center; margin-top:30px;">
						<li><a href="https://www.facebook.com/maria.wiedenska5"><i class="icon-facebook-with-circle"></i></a></li>
						<li><a href="https://www.instagram.com/maria_muszka/"><i class="icon-instagram-with-circle"></i></a></li>
					</div>
				</div>

			</div>

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a>
							Demo Images: <a href="http://unsplash.co/" target="_blank">Unsplash</a></small>
						<small class="block">Changed by <a href="https://github.com/markoseb"
														   target="_blank">Markoseb</a> </small>
					</p>

				</div>
			</div>

		</div>
	</footer>


	</body>
	</html>
<!--</editor-fold>-->

