	{% extends "base.html" %}
	{% block content %}
	<div id="fh5co-content" class="fh5co-no-pd-top">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2><span>O Mnie</span></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<div class="fh5co-staff">
						<img src="static/main-user.jpg">
						<h3>Maria Kowalczyk</h3>
						<strong class="role">Założyciel bloga</strong>
						<p>Mam na imię Maria i jestem studentką Technologii Chemicznej na PW. Moją największą pasją jest
							wspinaczka i od jakiegoś czasu wszystko co jest związane z pszczołami, stąd pomysł na
							stworzenie tego bloga. :)</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}
