{% extends "base.html" %}
	{% block content %}

	<div id="fh5co-contact" class="fh5co-no-pd-top">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-12 col-md-offset-0 text-center fh5co-heading">
					<h2><span>Rejestracja</span></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-9 col-padded-right">
					<form method="POST" name="form">
						{# This hidden_tag is a CSRF security feature. #}
						{{ form.hidden_tag() }}
						<div class="form-group row">
							<div class="col-md-6 field">
								<label for="name">Nazwa użytkownika</label>
								{{ form.username(class="form-control") }}
							</div>
							<div class="col-md-6 field">
								<label for="email">Email</label>
								{{ form.email(class="form-control") }}
							</div>
						</div>
						<div class="form-group row">

							<div class="col-md-6 field">
								<label for="pas">Hasło</label>
								{{ form.password(class="form-control") }}
							</div>

							<div class="col-md-6 field">
								<label for="cpas">Potwierdź Hasło</label>
								{{ form.pass_confirm(class="form-control") }}
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-12 field">
								{{ form.submit(class="btn btn-primary",type="submit",value="Rejestracja") }}

								<div class="help-block">
									{% for message in get_flashed_messages() %}
									<div class="alert alert-warning" style="background-color: #fbf2eb;">
										<button type="button" class="close" data-dismiss="alert">&times;</button>
										{{ message }}
									</div>
									{% endfor %}

								</div>
							</div>
						</div>
					</form>
				</div>
				<aside id="sidebar">
					<div class="col-md-3">
						<div class="side animate-box">
							<div class="col-md-12 col-md-offset-0 text-center fh5co-heading fh5co-heading-sidebar">
								<h2><span>O Mnie</span></h2>
							</div>
							<div class="fh5co-staff">
								<img src="static/profile_pics/Maria.jpg">
								<h3>Maria Mucha</h3>
								<strong class="role">Założycielka bloga</strong>
								<p href="{{ url_for('core.info') }}">Mam na imię Maria i jestem studentką
									Technologii Chemicznej na PW. Moją największą pasją jest wspinaczka i od
									jakiegoś czasu wszystko co jest związane z pszczołami, stąd pomysł na stworzenie
									tego bloga. :)</p>

								<ul class="fh5co-social-icons">
									<li><a href="https://www.facebook.com/maria.wiedenska5"><i
											class="icon-facebook-with-circle"></i></a></li>
									<li><a href="https://www.instagram.com/maria_muszka/"><i
											class="icon-instagram-with-circle"></i></a></li>
								</ul>

							</div>
						</div>
					</div>
				</aside>
			</div>

		</div>


	</div>

	{% endblock %}

